*

!.gitignore

# Except for PD2TL folder

!/PAYDAY2_thai_updates_property/
!/PAYDAY2_thai_updates_property/*



# Except for Mod Overrides folder
!/assets/
!/assets/*/
!/assets/mod_overrides/
!/assets/mod_overrides/*/
!/assets/mod_overrides/ThaiFont/*/
!/assets/mod_overrides/ThaiFont/fonts/*


# Except for BLT folder
!/mods/
!/mods/*/
!/mods/PD2TH/
!/mods/PD2TH/*
!/mods/PD2TH/*/*
!/mods/PD2TH/*/*/*
PAYDAY2_thai_updates_property/blt_hasher.exe

PAYDAY2_thai_updates_property/HashFinder.bat
